.dn-manual-focus-node {
    pointer-events: none;
    background: transparent;
    border: none;
    position: absolute;
    margin: 0px;
}

.dn-manual-focus-node:focus {
    outline: 2px solid #1e3369;
}
