body {
    font-size: 1.25em;
    margin: 0 auto;
    max-width: 40em;
    padding: 50px;
}

img {
    width: 100%;
}

.dn-root {
    position: relative;
}

.dn-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
}

.dn-node {
    position: absolute;
    padding: 0px;
    margin: 0px;
    overflow: visible;
    border: 2px solid white;
    outline: #000000 solid 2px;
}

.dn-node:focus {
    border: 2px solid white;
    outline: #000000 solid 4px;
    /* outline-offset: 1px; */
}

.dn-node-svg {
    position: absolute;
    pointer-events: none;
}

.dn-node-path {
    fill: none;
    stroke: #000000;
    stroke-width: 4px;
    transform: translateY(2px);
}

.dn-exit-position {
    display: none;
    position: absolute;
    bottom: -18px;
}

.dn-exit-position:focus {
    display: block;
}

.dn-entry-button {
    position: relative;
    top: -21px;
}

.wrapper {
    position: relative;
}

.canvasbox {
    border-radius: 3px;
    margin-right: 10px;
    width: 450px;
    height: 338px;
    border-bottom: 3px solid #0063ff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
}

.videobox {
    display: none;
}

.hidden {
    display: none;
}

.column {
    float: left;
    padding-right: 15px;
}

.left {
    width: 400px;
}

.right {
    max-width: 50%;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

.alert {
    color: darkred;
}

.tooltip {
    position: absolute;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    width: 200px;
    top: 0;
    left: 0;
}

#fist {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    display: none;
}

pre {
    overflow: auto;
    background: #f6f6f6;
    padding: 0px 10px;
    border-radius: 10px;
}

.bib {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px dashed black;
    cursor: pointer;
}

.bib:hover {
    border: 1px solid black;
}

.bib:focus {
    border-width: 2px;
}

.bib svg {
    width: 16px;
    height: 16px;
    pointer-events: none;
}

.bib:active path {
    fill: #015ee9;
}

.bib path {
    fill: #444;
}

#copy-announcer {
    font-size: 0.8em;
    font-weight: 100;
    color: #444;
}

p {
    margin-top: 0;
}

.video-wrapper {
    position: relative;
}

th {
    text-align: left;
}

h3 {
    margin-bottom: 0.2em;
}

.cell {
    padding: 2px 10px 2px 0px;
    font-weight: normal;
}

.t-column {
    padding-right: 10px;
}

summary {
    padding-bottom: 10px;
    font-style: italic;
}

.limited {
    max-width: 365px;
}

kbd {
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px 5px;
}
